@{
    ViewData["Title"] = "Chuyển khoản online";
    Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div class="container mt-4">
    <div class="qr-code-container">
        <h1>Quét mã QR để thanh toán</h1>
        <img src="/images/letruongqr.jpg" alt="QR Code" class="img-fluid">
        <p>Vui lòng quét mã QR để hoàn tất thanh toán.</p>
        <a asp-action="Create" class="btn btn-primary">
            Quay lại
        </a>
    </div>
</div>